/*  your css code here. If applicable */

*{
	margin:0;
	padding:0;
}
	body{
	background:#cccccc;
	}
h2{
	text-align:center;
	font-size:24px;
}
.player_one{
	background:white;
	height:100px;
	padding:0px;
	border-radius:5px;
	border:1px solid black;
	align-items:center;
	
}
.player_one a{
	text-decoration:none;
	color:black;
	gap:5px;
}
.player_two{
	margin-top:0px;
  margin-left:55PX;
	background:white;
	height:400px;
	width:350px;
	border:1px solid black;
}
video{
	padding-top:10px;
	padding-left:15px;
}
h3{
	margin-top:0;
}

